{% extends "layout.html" %}

{% block content %}
    <div class="well">
        <div class="page-header">
            <h2> Projects List </h2>
        </div>
        <div ng-controller="ProjectController as ListCtrl">
            <div class="pull-right">

                <button type="button" class="btn btn-info">
                    <a href="/project/add"> <i class="fa fa-plus"></i> </a>
                </button>
                <button ng-click="ListCtrl.dtInstance.reloadData()" type="button" class="btn btn-info">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>


            <table datatable="ng" dt-options="ListCtrl.dtOptions" dt-column-defs="ListCtrl.dtColumnDefs" class="row-border hover">

                <thead>
                <!-- Repeat Columns Header -->
                <tr >
                    <th ng-repeat="columnData in ::ListCtrl.ColumnsData" ng-bind ="columnData"></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="project in ::ListCtrl.projects">

                    <td ng-bind ="project.id"></td>
                    <td ng-bind ="project.title"></td>
                    <td ng-bind = "project.display_url"> </td>
                    <td>
                        <button type="button" class="btn btn-info"> <a ng-href="/project/{$project.id$}/view"> <i class="fa fa-eye"> </i> </a> </button>
                        <button type="button" class="btn btn-warning"> <a ng-href="/project/{$project.id$}/edit"> <i class="fa fa-edit"> </i> </a> </button>
                        <button type="button" class="btn btn-danger" ng-click="ListCtrl.deleteItem(project.id);"> <i class="fa fa-trash-o"> </i>  </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.css' %}" />
    <!-- <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.js' %}"> </script> -->

    <script>
    $(document).ready(function() {

    });
    </script>
{% endblock %}
