
    <div class="well">
        <div class="page-header">
            <h2> Projects List </h2>
        </div>
        <div ng-controller="PatientCtrl as ListCtrl">
            <div class="pull-right">

                <button type="button" class="btn btn-info">
                    <a href="/patient/add"> <i class="fa fa-plus"></i> </a>
                </button>
                <button ng-click="ListCtrl.dtInstance.reloadData()" type="button" class="btn btn-info">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>


            <table datatable="ng" dt-options="ListCtrl.dtOptions" dt-column-defs="ListCtrl.dtColumnDefs" class="row-border hover">

                <thead>
                <!-- Repeat Columns Header -->
                <tr >
                    <th ng-repeat="columnData in ::ListCtrl.ColumnsData" ng-bind ="columnData"></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="item in ::ListCtrl.Items">
                    <td ng-bind ="item.id"></td>
                    <td ng-bind ="item.url"></td>
                    <td ng-bind = "item.first_name"> </td>
                    <td>
                        <button type="button" class="btn btn-info"> <a ng-href="/patient/{$item.id$}/view"> <i class="fa fa-eye"> </i> </a> </button>
                        <button type="button" class="btn btn-warning"> <a ng-href="/patient/{$item.id$}/edit"> <i class="fa fa-edit"> </i> </a> </button>
                        <button type="button" class="btn btn-danger" ng-click="ListCtrl.deleteItem(item.id);"> <i class="fa fa-trash-o"> </i>  </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

