<div class="well">
        <div class="page-header">
            <h2> Projects List </h2>
        </div>
        <div >
            <div class="pull-right">

                <button type="button" class="btn btn-info">
                    <a href="/patient/add"> <i class="fa fa-plus"></i> </a>
                </button>
                <button ng-click="ListCtrl.dtInstance.reloadData()" type="button" class="btn btn-info">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>

			<table class="table table-striped table-bordered" ng-DataTable="overrideOptions"
				aa-data="sampleProductCategories"
				ao-column-defs="columnDefs"
				ao-Columns = "Columns"
				fn-row-callback="myCallback"
				>
			</table>

        </div>
    </div>