<!--login modal-->
<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Register</h1>
      </div>
      <div class="modal-body">
        
          <form class="form col-md-12 center-block" ng-submit="handleRegBtnClick(registrationForm)" role="form" ng-init="registrationForm = {}">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email" ng-model="registrationForm.email" required="required" >
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password" ng-model="registrationForm.password" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Confirm Password" ng-model="registrationForm.password_confirmation" required="required">
            </div>            
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
          </form>

      </div> 
      <div class="modal-footer">
          <div class="col-md-12">
            <div style="text-align:center">
                <p> or you can sign in via </p>
                <a ui-sref="auth.login" class="btn btn-lg btn-success btn-block">Login</a>
                <p> or you can register via </p>
                <button class="btn btn-primary" type="submit" style="background-color:#5193ea"><i class="fa fa-facebook"></i> Facebook</button>
                <button class="btn btn-primary" type="submit" style="background-color:#44ccfe"><i class="fa fa-twitter"></i> Twitter</button>                
              </div>
		      </div>
      </div>
  </div>
  </div>
</div>